{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Cirugías</h4>
            <div style="text-align:right;">
                <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='cirugiaCreate' " style="text-align:center;">+
                </button>
            </div>
        </div>
    </div>

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table table-hover">
                        <thead>
                        <tr style="color:#0E2EB0">
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Fecha de Realización</th>
                            <th>Paciente</th>
                            <th>Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for cirugia in cirugia_list %}
                        <tr>
                            <td><a href="{% url 'cirugiaDetail' cirugia.id %}">{{ cirugia.nombre}}</a></td>
                            <td>{{ cirugia.tipo }}</td>
                            <td>{{ cirugia.fecha }}</td>
                            <td>{{ cirugia.paciente.nombre}}</td>
                            <td>
                                <form method="POST" action="{% url 'cirugiaDelete' cirugia.id %}" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger waves-effect waves-light" onclick="return confirm('¿Estás seguro de que quieres eliminar esta cirugía?');">-</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/' ">
                            Regresar
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}