{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Examenes</h4>
            <div style="text-align:right;">
                <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='examenCreate' " style="text-align:center;">+
                </button>
            </div>
        </div>
    </div>

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table table-hover">
                        <thead>
                        <tr style="color:#0E2EB0">
                            <th>Examen</th>
                            <th>Fecha de Realización</th>
                            <th>Paciente</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for examen in examen_list %}
                        <tr>
                            <td><a href="{% url 'examenDetail' examen.id %}">{{ examen.tipo_examen}}</a></td>
                            <td>{{ examen.fecha_realizacion }}</td>
                            <td>{{examen.paciente.nombre}}</td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/' ">
                            Regresar
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}