{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Examenes</h4>
            <div style="text-align:right;">
                <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='examenCreate2' " style="text-align:center;">+
                </button>
            </div>
        </div>
    </div>

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table table-hover">
                        <thead>
                        <tr style="color:#0E2EB0">
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Fecha de Realización</th>
                            <th>Paciente</th>
                            {% if puede_eliminar %}
                                <th>Eliminar</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>

                        {% for examen2 in examen_list2 %}
                        <tr>
                            <td><a href="{% url 'examenDetail2' examen2.id %}">{{ examen2.nombre}}</a></td>
                            <td>{{ examen2.tipo_examen }}</td>
                            <td>{{ examen2.fecha_realizacion }}</td>
                            <td>{{examen2.paciente.nombre}}</td>
                            {% if puede_eliminar %}
                                <td>
                                    <form method="POST" action="{% url 'examenDelete2' examen2.id %}" style="display: inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger waves-effect waves-light" onclick="return confirm('¿Estás seguro de que quieres eliminar este examen?');">-</button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/' ">
                            Regresar
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}