{% extends 'base.html' %}

{% block content %}
<h2>Detalles del Diagnóstico</h2>

<p><strong>Nombre:</strong> {{ diagnostico.nombre }}</p>
<p><strong>Fecha de realización:</strong> {{ diagnostico.fecha_realizacion }}</p>
<p><strong>Paciente:</strong> {{ diagnostico.paciente.nombre }}</p>
<p><strong>Resultados obtenidos:</strong> {{ diagnostico.resultados_obtenidos }}</p>
<p><strong>Requiere tratamiento:</strong> {{ diagnostico.get_tratamiento_display }}</p>
<p><strong>Información extra:</strong> {{ diagnostico.info_extra }}</p>

{% if diagnostico.tratamiento == 'si' and diagnostico.tratamiento_asociado %}
    <h3>Detalles del Tratamiento</h3>
    <p><strong>Nombre:</strong> {{ diagnostico.tratamiento_asociado.nombre }}</p>
    <p><strong>Fecha de inicio:</strong> {{ diagnostico.tratamiento_asociado.fecha_inicio }}</p>
    <p><strong>Fecha de fin:</strong> {{ diagnostico.tratamiento_asociado.fecha_fin }}</p>
    <p><strong>Indicaciones:</strong> {{ diagnostico.tratamiento_asociado.indicaciones }}</p>
{% endif %}

<a href="{% url 'diagnosticoList' %}">Volver a la lista</a>
{% endblock %}
